

/*Código general*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-image: linear-gradient(to top, #E7913C 0%, #97ED8A 100%); /*gradients*/
	width: 100vh;
	height: 100vh;
    font-family: 'Raleway', sans-serif;
}

a{
	text-decoration: none;
	color: white;
}

a:hover{
	text-decoration: none;
	color: black;
	font-weight: bold;
}


/*Para que los elementos se "compriman"*/
.container {
    max-width: 480px;
    width: 100%;
}

/*Menú*/
nav{
	display: block;
}

/*Logo*/
.logo{
	filter: invert(100%);
}

/*Inputs*/
input[placeholder] {
	display: inline-block;
	width: 91%;
	color: green;
}

/*Footer*/
footer {
    position: fixed;
    bottom: 0;
    width: 115%;
    text-align: center;
}

select{
	text-decoration: none;
}

.boton{
	width: 69%;
}